/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

.coupon-wrapper{
    margin: 0 auto;
    max-width: 240px;
    margin-top: 16px;
    border: 1px dashed #ff0000;
    padding: 4px;
}

#product .coupon-wrapper{
    margin: 0 0 15px 0;
}

.coupon-wrapper__inner{
    background: #ff00000a;
    padding: 4px;
    margin-bottom: 0px !important;
}

.coupon-wrapper__inner_row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 0px !important;
}

.coupon-wrapper__inner_row svg{
    margin-right: 4px;
}

.coupon-wrapper__inner_row p{
    font-size: 12px;
    text-transform: uppercase;
}