.easycarousels .bx-wrapper {
	position: relative;
}
.easycarousels .bx-wrapper .bx-controls-direction {
	position: absolute;
	top: -47px;
	right: 0;
	z-index: 2;
}
.easycarousels .compact .bx-wrapper .bx-controls-direction {
	top: -42px;
}
.row .bx-wrapper .bx-controls-direction {
	right: 15px;
}
.easycarousels .bx-wrapper .bx-controls-direction a {
	position: absolute;
    font-size: 0;
	width: 42px;
	height: 42px;
	top: 0;
	right: 0;
	left: auto;
	text-align: center;
	background: #FFF;
	padding: 13px;
	border: 2px solid #CCC;
}
.easycarousels .bx-wrapper .bx-controls-direction a:hover {
	background: #CCC;
}
.easycarousels .bx-wrapper .bx-controls-direction a:hover:before {
	border-color: #999;
}
.easycarousels .bx-wrapper .bx-controls-direction a:before {
	content: '';
	width: 12px;
	height: 12px;
	display: block;
	border: 3px solid #CCC;
	border-width: 3px 3px 0 0;
	padding: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.easycarousels .bx-wrapper .bx-controls-direction a.bx-prev {
	right: 47px;
}
.easycarousels .bx-wrapper .bx-controls-direction a.bx-prev:before {
	border-width: 0 0 3px 3px;
}
.n-hover .bx-wrapper .bx-controls-direction {
	display: none;
}
.n-hover .bx-wrapper:hover .bx-controls-direction {
	display: block;
}
.easycarousels .bx-controls.bx-has-pager {
	margin-bottom: 25px;
}
.easycarousels .bx-wrapper .bx-pager.bx-default-pager a.bx-pager-link {
	width: 12px;
	height: 12px;
	border: 2px solid #CCC;
	background: #FFF;
	border-radius: 100%;
}
.easycarousels .bx-wrapper .bx-pager.bx-default-pager a.bx-pager-link:hover, .easycarousels .bx-wrapper .bx-pager.bx-default-pager a.bx-pager-link.active {
	background: #CCC;
}
.bx-viewport{
    text-align: left;
}

/* nav in column for one_by_one */
.column .easycarousels .one_by_one .bx-wrapper .bx-controls-direction a {
	background: none;
	border: none;
	top: -11px;
	width: 20px;
	right: 5px;
	padding: 15px 3px;
}
.column .easycarousels .one_by_one .bx-wrapper .bx-controls-direction a:before {
	color: #555454;
}
.column .easycarousels .one_by_one .bx-wrapper .bx-controls-direction a.bx-prev {
	right: 20px;
}
.column .easycarousels .one_by_one .bx-wrapper .bx-controls-direction a:hover:before {
	color: #999;
}
.column.accordion .easycarousels .one_by_one .bx-wrapper .bx-controls-direction {
	right: 35px;
}
.column.accordion .easycarousels.row .one_by_one .bx-wrapper .bx-controls-direction {
	right: 50px;
}
.column .easycarousels.row .one_by_one .bx-wrapper .bx-controls-direction {
	right: 20px;
}
.column.accordion .carousel_block .title_block {
	padding-right: 75px;
}
/* fix for /bx_loader.gif 404 (Not Found) */
.easycarousels .bx-wrapper .bx-loading  {
	background: none;
}
/* since 2.5.5 */
